<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title>PHP: 잘못된 디자인의 프랙탈</title>
  <link rel='stylesheet' href='src/md.css' />
  <link rel="shortcut icon" href="src/favicon.ico" />
  <style>
  body {
    margin: 0;
    padding: 0;
    background: url('src/bg.png') repeat;
  }
  #container {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
  }
  </style>
</head>
<body>
  <div id='container'>
  <%- text %>
  </div>
</body>
</html>
